In [1]:
import pandas as pd
ruta_dataset = "ejercicio_Missing_Values.xlsx"
df= pd.read_excel(ruta_dataset)
df

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
0,José,Maza,Redondo,H,Madrid,Madrid,61025400Y,22.0,156.0,60.0,NO,1000.0,Solter/x,SI,SÍ,SÍ,4411125322A
1,Ana Belén,Carrasco,Dimitrova,M,Zaragoza,Zaragoza,73534066F,22.0,160.0,65.0,NO,1200.0,Solter/x,SI,NaN,NaN,4411125322A
2,Pablo,Gálvez,González,H,Talavera de la Reina,Toledo,10223810K,23.0,177.0,70.0,NO,1325.0,Casad/x,SI,SÍ,SÍ,4411125322A
3,María,Gallego,Martínez,M,Sevilla,Sevilla,32770305C,45.0,172.0,89.0,NO,1500.0,Solter/x,No,NO,SÍ,4411125322A
4,José Luis,Fernández,Ortega,H,Oviedo,Asturias,04614346V,37.0,179.0,82.0,SÍ,1662.5,Solter/x,No,NO,SÍ,4411125322A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NaN,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NaN,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NaN,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NaN,NaN
68,María Teresa,Gea,Galván,M,Torremolinos,Málaga,36248330P,55.0,164.0,67.0,NO,1245.0,Casad/x,SI,SÍ,SÍ,NaN

In [9]:

treat_NaNs = [" ","",".","-","._",",",";",":","''","'","/","?","!","[]","#",
"´","&","$","()","{}","ç","Ç","`","^","*","+","|","%","n/a","N/A","--","NA","na"]

ruta_dataset = "ejercicio_Missing_Values.xlsx"
df = pd.read_excel(ruta_dataset, na_values=treat_NaNs)


# visualizando las n primeras filas del dataset
df.head(10)

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
0,José,Maza,Redondo,H,Madrid,Madrid,61025400Y,22.0,156.0,60.0,NO,1000.0,Solter/x,SI,SÍ,SÍ,4411125322A
1,Ana Belén,Carrasco,Dimitrova,M,Zaragoza,Zaragoza,73534066F,22.0,160.0,65.0,NO,1200.0,Solter/x,SI,NaN,NaN,4411125322A
2,Pablo,Gálvez,González,H,Talavera de la Reina,Toledo,10223810K,23.0,177.0,70.0,NO,1325.0,Casad/x,SI,SÍ,SÍ,4411125322A
3,María,Gallego,Martínez,M,Sevilla,Sevilla,32770305C,45.0,172.0,89.0,NO,1500.0,Solter/x,No,NO,SÍ,4411125322A
4,José Luis,Fernández,Ortega,H,Oviedo,Asturias,04614346V,37.0,179.0,82.0,SÍ,1662.5,Solter/x,No,NO,SÍ,4411125322A
5,Manuel,García,Muñoz,H,Madrid,Madrid,81971380R,59.0,188.0,122.0,SÍ,1825.0,Divorciad/x,No,NO,NaN,4411125322A
6,Rosa,Cano,Gómez,M,NaN,NaN,39455398W,55.0,NaN,NaN,NaN,2100.0,Divorciad/x,No,SÍ,SÍ,4411125322A
7,Sebastián,Caparros,Sánchez,H,Madrid,Madrid,06708146N,78.0,165.0,66.0,SÍ,2150.0,Divorciad/x,No,NaN,NaN,4411125322A
8,Antonio,Morante,Molina,H,Candelaria,S.C. de Tenerife,35261507M,110.0,145.0,70.0,SÍ,2312.5,Solter/x,SI,NaN,NaN,4411125322A
9,Jesús,López,Núñez,H,Cartagena,Murcia,NaN,2.0,88.0,13.0,NO,0.0,Solter/x,SI,NO,NaN,4411125322A

In [5]:
# visualizando las n últimas filas del dataset
df.tail(10)

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,NIF,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
59,José María,Sánchez,Rico,H,Aranjuez,Madrid,55261507M,36.0,169.0,55.0,SÍ,1700.0,Casad/x,No,SÍ,SÍ,4411125322A
60,Antonio,Fernández,Ortiz,H,San Sebastián,Guipúzcoa,04614346V,41.0,180.0,84.0,NO,1680.0,Casad/x,SI,SÍ,NaN,4411125322A
61,Francisco Javier,Miguel,Robles,H,Madrid,Madrid,81971380R,40.0,199.0,110.0,NO,1652.0,Solter/x,SI,SÍ,SÍ,4411125322A
62,María Carmen,Romano,Abellán,M,Irun,Guipúzcoa,39455398W,3.0,94.0,14.7,NaN,NaN,NaN,NaN,NO,NaN,4411125322A
63,María,Pascual,Calvo,M,Barcelona,Barcelona,06708146N,46.0,NaN,NaN,SÍ,1700.0,Solter/x,SI,SÍ,NaN,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,39455398W,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NaN,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,33261507M,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NaN,NaN
66,Antonio,Elizalde,Martin,H,Colmenar Viejo,Madrid,39455398W,8.0,125.0,25.0,NO,0.0,Solter/x,SI,NO,NaN,4411125322A
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,60423158L,9.0,135.0,30.0,SÍ,0.0,Solter/x,SI,NO,NaN,NaN
68,María Teresa,Gea,Galván,M,Torremolinos,Málaga,36248330P,55.0,164.0,67.0,NO,1245.0,Casad/x,SI,SÍ,SÍ,NaN

In [7]:
df.isnull().sum()

Nombre                             2
Apellido 1                         2
Apellido 2                         2
Sexo                               3
Municipio                          5
Provincia                          4
NIF                               11
Edad                               2
Estatura                          12
Masa                              13
Hijos                              6
Ingresos                           7
Estado Civil                       8
Vacunadx                           5
CARNÉ CONDUCIR                    10
Consumidorx Alcohol Esporádico    43
REFERENCIA ESTUDIO                 5
dtype: int64

In [14]:
#HAGO UNA COPIA DE DF:
df2 = df.copy()

#ELIMINO LA COLUMNA DE NIF, DEBIDO A QUE NO APORTA VALOR O INFORMACIÓN A ANALIZAR:
df2 = df2.drop(columns=["NIF"])

#PARA CONOCER LAS PROPORCIONES DE LAS RESPUESTAS DE LAS COLUMNAS:
def proporciones(data):
    columns = ["Sexo", "Edad","Estatura", "Vacunadx", "Masa","Hijos", "Estado Civil", "Vacunadx", "CARNÉ CONDUCIR", "Consumidorx Alcohol Esporádico"   ]
    for col in columns:
        print(f"La columna {col} tiene las siguientes proporciones: ")
        print(dict(round(data[col].value_counts(normalize=True)*100,2)))
        
proporciones(df2)

La columna Sexo tiene las siguientes proporciones:
{'M': 51.52, 'H': 48.48}
La columna Edad tiene las siguientes proporciones:
{45.0: 7.46, 23.0: 5.97, 22.0: 5.97, 18.0: 4.48, 78.0: 4.48, 21.0: 4.48, 3.0: 4.48, 41.0: 2.99, 7.0: 2.99, 32.0: 2.99, 55.0: 2.99, 4.0: 2.99, 36.0: 2.99, 81.0: 2.99, 38.0: 2.99, 2.0: 2.99, 39.0: 2.99, 56.0: 2.99, 40.0: 2.99, 6.0: 2.99, 46.0: 2.99, 37.0: 2.99, 9.0: 1.49, 11.0: 1.49, 19.0: 1.49, 8.0: 1.49, 24.0: 1.49, 15.0: 1.49, 20.0: 1.49, 5.0: 1.49, 59.0: 1.49, 13.0: 1.49, 110.0: 1.49, 1.0: 1.49}
La columna Estatura tiene las siguientes proporciones:
{156.0: 8.77, 179.0: 7.02, 165.0: 5.26, 188.0: 5.26, 180.0: 5.26, 169.0: 5.26, 163.0: 5.26, 171.0: 5.26, 177.0: 3.51, 181.0: 3.51, 145.0: 3.51, 90.0: 1.75, 125.0: 1.75, 88.0: 1.75, 110.0: 1.75, 92.0: 1.75, 151.0: 1.75, 101.0: 1.75, 104.0: 1.75, 94.0: 1.75, 135.0: 1.75, 123.0: 1.75, 186.0: 1.75, 122.0: 1.75, 150.0: 1.75, 78.0: 1.75, 86.0: 1.75, 164.0: 1.75, 112.0: 1.75, 118.0: 1.75, 170.0: 1.75, 160.0: 1.75, 172.0: 1.75, 13.0: 1.75, 199.0: 1.75}
La columna Vacunadx tiene las siguientes proporciones:
{'No': 62.5, 'SI': 35.94, 'NO': 1.56}
La columna Masa tiene las siguientes proporciones:
{70.0: 7.14, 66.0: 7.14, 55.0: 5.36, 72.0: 5.36, 60.0: 5.36, 82.0: 5.36, 79.0: 5.36, 89.0: 5.36, 67.0: 3.57, 25.0: 3.57, 92.0: 3.57, 49.0: 3.57, 86.0: 1.79, 14.0: 1.79, 30.0: 1.79, 18.0: 1.79, 14.7: 1.79, 56.0: 1.79, 122.0: 1.79, 84.0: 1.79, 50.0: 1.79, 28.0: 1.79, 20.0: 1.79, 65.0: 1.79, 16.8: 1.79, 10.0: 1.79, 14.5: 1.79, 13.0: 1.79, 110.0: 1.79, 85.0: 1.79, 51.0: 1.79, 15.0: 1.79, 21.0: 1.79, 54.0: 1.79}
La columna Hijos tiene las siguientes proporciones:
{'NO': 57.14, 'SÍ': 42.86}
La columna Estado Civil tiene las siguientes proporciones:
{'Solter/x': 63.93, 'Casad/x': 21.31, 'Divorciad/x': 14.75}
La columna Vacunadx tiene las siguientes proporciones:
{'No': 62.5, 'SI': 35.94, 'NO': 1.56}
La columna CARNÉ CONDUCIR tiene las siguientes proporciones:
{'NO': 54.24, 'SÍ': 45.76}
La columna Consumidorx Alcohol Esporádico tiene las siguientes proporciones:
{'SÍ': 100.0}

In [22]:
# EN LA COLUMNA DE CONSUMO PERIÓDICO DE ALCOHOL, LOS NaN SE CONVIERTEN EN NO: 
df2["Consumidorx Alcohol Esporádico"] = df2["Consumidorx Alcohol Esporádico"].fillna("NO")
#df[df.isnull().any(axis="Vacunadx")]

In [19]:
#ahora filtramos todas las columnas que siguen tenindo faltantes:
df2[df2.isnull().any(axis="columns")]

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
1,Ana Belén,Carrasco,Dimitrova,M,Zaragoza,Zaragoza,22.0,160.0,65.0,NO,1200.000000,Solter/x,SI,NaN,NO,4411125322A
6,Rosa,Cano,Gómez,M,NaN,NaN,55.0,NaN,NaN,NaN,2100.000000,Divorciad/x,No,SÍ,SÍ,4411125322A
7,Sebastián,Caparros,Sánchez,H,Madrid,Madrid,78.0,165.0,66.0,SÍ,2150.000000,Divorciad/x,No,NaN,NO,4411125322A
8,Antonio,Morante,Molina,H,Candelaria,S.C. de Tenerife,110.0,145.0,70.0,SÍ,2312.500000,Solter/x,SI,NaN,NO,4411125322A
11,Jordi,Martínez,Valdés,H,Marín,Pontevedra,22.0,163.0,70.0,NO,900.000000,Divorciad/x,No,NaN,SÍ,4411125322A
13,José Luis,Romero,Busto,H,San Sebastián,Guipúzcoa,45.0,171.0,60.0,SÍ,NaN,Solter/x,No,SÍ,NO,4411125322A
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,NaN
20,Concepción,Cobos,Díaz,M,NaN,Madrid,56.0,156.0,49.0,NO,1325.000000,Casad/x,No,NO,SÍ,4411125322A
24,Sara,Flórez,Álvarez,M,Madrid,Madrid,4.0,101.0,14.5,NO,0.000000,NaN,No,NO,NO,4411125322A
26,María Teresa,Romero,Nieves,M,NaN,NaN,78.0,NaN,NaN,NO,1751.600000,Solter/x,No,SÍ,NO,4411125322A
30,María Teresa,Marrero,Fernández,NaN,Sabadell,Barcelona,23.0,169.0,66.0,SÍ,1945.200000,Solter/x,No,SÍ,NO,4411125322A
34,Emilio,Montes,Segura,H,Las Palmas de G. C.,Las Palmas,18.0,NaN,NaN,NO,955.000000,Solter/x,No,NO,SÍ,4411125322A
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,NaN
36,Josefa,Ferrer,Salado,M,Olesa de Montserrat,Barcelona,6.0,112.0,20.0,SÍ,0.000000,NaN,SI,NaN,NO,4411125322A
37,Cristina,Acosta,Mateo,M,Oviedo,Asturias,4.0,104.0,16.8,NO,0.000000,Solter/x,No,NaN,NO,4411125322A
38,Ana,Peña,Sánchez,M,Cabra,Córdoba,7.0,122.0,28.0,NO,0.000000,Solter/x,No,NaN,NO,4411125322A
39,Manuel,Ramírez,Carrasco,H,Móstoles,Madrid,78.0,NaN,NaN,SÍ,783.200000,Casad/x,No,NO,SÍ,4411125322A
41,Iñigo,García,Gómez,H,Tarrasa,Barcelona,45.0,NaN,NaN,SÍ,713.257143,Solter/x,No,SÍ,SÍ,4411125322A
50,Carmen,Moral,Giménez,M,Coslada,Madrid,39.0,NaN,NaN,NO,1945.200000,Solter/x,SI,NO,NO,4411125322A
52,Sergio,Sánchez,Palacio,H,Águilas,Murcia,41.0,NaN,NaN,NO,1945.200000,Solter/x,SI,NO,SÍ,4411125322A
55,María Carmen,Ordoñez,Ortega,M,Madrid,Madrid,3.0,90.0,15.0,NaN,NaN,NaN,NaN,NO,NO,4411125322A
56,Susana,Fernández,Morales,M,Madrid,Madrid,32.0,NaN,NaN,NO,1680.000000,Divorciad/x,No,NaN,NO,4411125322A
57,Beatriz,Duran,Jiménez,M,Barcelona,Barcelona,38.0,NaN,NaN,SÍ,1652.000000,Casad/x,No,SÍ,NO,4411125322A
62,María Carmen,Romano,Abellán,M,Irun,Guipúzcoa,3.0,94.0,14.7,NaN,NaN,NaN,NaN,NO,NO,4411125322A
63,María,Pascual,Calvo,M,Barcelona,Barcelona,46.0,NaN,NaN,SÍ,1700.000000,Solter/x,SI,SÍ,NO,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,1.0,78.0,10.0,SÍ,NaN,NaN,NO,NO,NO,4411125322A
65,Ángel,Castro,Guisado,H,Torrejón de Ardoz,Madrid,2.0,86.0,NaN,NaN,NaN,NaN,NaN,NO,NO,NaN
67,Ángel,Guerrero,Alonso,H,Puertollano,Ciudad Real,9.0,135.0,30.0,SÍ,0.000000,Solter/x,SI,NO,NO,NaN
68,María Teresa,Gea,Galván,M,Torremolinos,Málaga,55.0,164.0,67.0,NO,1245.000000,Casad/x,SI,SÍ,SÍ,NaN

In [34]:
#imputamos municipio Madrid a la fila 20
df2.loc[20,"Municipio"] = "Madrid"

#algunas filas solo tienen valores vacios, las eliminamos:
#df2 = df2.drop(17)
#df2 = df2.drop(35)
#df2 = df2.drop(65)
#df2 = df2.drop(62)
#df2 = df2.drop(6)
#df2 = df2.drop(26)

# resolvemos las filas sin sexo según el nombre de la fila
df2.loc[30,"Sexo"] = "M"

#se incluyen las respuestas redundantes en las columnas de ingresos e hijos (por edades muy reducidas en las siguientes filas)
df2.loc[55,"Ingresos"] = "0"
df2.loc[64,"Ingresos"] = "0"


df2.loc[55,"Hijos"] = "NO"

# EN LA COLUMNA DE REFERENCIA ESTUDIO, AL EXISTIR UN ÚNICO ESTUDIO, LOS NaN SE CONVIERTEN EN EL ESTUDIO CORRESPONDIENTE: 
df2["REFERENCIA ESTUDIO"] = df2["REFERENCIA ESTUDIO"].fillna("4411125322A")

# EN LA COLUMNA DE CARNÉ DE CONDUCIR,LOS NaN SE CONVIERTEN EN NO: 
df2["CARNÉ CONDUCIR"] = df2["CARNÉ CONDUCIR"].fillna("NO")

In [35]:
#ahora filtramos todas las columnas que siguen tenindo faltantes:
df2[df2.isnull().any(axis="columns")]

,Nombre,Apellido 1,Apellido 2,Sexo,Municipio,Provincia,Edad,Estatura,Masa,Hijos,Ingresos,Estado Civil,Vacunadx,CARNÉ CONDUCIR,Consumidorx Alcohol Esporádico,REFERENCIA ESTUDIO
13,José Luis,Romero,Busto,H,San Sebastián,Guipúzcoa,45.0,171.0,60.0,SÍ,NaN,Solter/x,No,SÍ,NO,4411125322A
24,Sara,Flórez,Álvarez,M,Madrid,Madrid,4.0,101.0,14.5,NO,0.0,NaN,No,NO,NO,4411125322A
34,Emilio,Montes,Segura,H,Las Palmas de G. C.,Las Palmas,18.0,NaN,NaN,NO,955.0,Solter/x,No,NO,SÍ,4411125322A
36,Josefa,Ferrer,Salado,M,Olesa de Montserrat,Barcelona,6.0,112.0,20.0,SÍ,0.0,NaN,SI,NO,NO,4411125322A
39,Manuel,Ramírez,Carrasco,H,Móstoles,Madrid,78.0,NaN,NaN,SÍ,783.2,Casad/x,No,NO,SÍ,4411125322A
41,Iñigo,García,Gómez,H,Tarrasa,Barcelona,45.0,NaN,NaN,SÍ,713.257143,Solter/x,No,SÍ,SÍ,4411125322A
50,Carmen,Moral,Giménez,M,Coslada,Madrid,39.0,NaN,NaN,NO,1945.2,Solter/x,SI,NO,NO,4411125322A
52,Sergio,Sánchez,Palacio,H,Águilas,Murcia,41.0,NaN,NaN,NO,1945.2,Solter/x,SI,NO,SÍ,4411125322A
55,María Carmen,Ordoñez,Ortega,M,Madrid,Madrid,3.0,90.0,15.0,NO,0,NaN,NaN,NO,NO,4411125322A
56,Susana,Fernández,Morales,M,Madrid,Madrid,32.0,NaN,NaN,NO,1680.0,Divorciad/x,No,NO,NO,4411125322A
57,Beatriz,Duran,Jiménez,M,Barcelona,Barcelona,38.0,NaN,NaN,SÍ,1652.0,Casad/x,No,SÍ,NO,4411125322A
63,María,Pascual,Calvo,M,Barcelona,Barcelona,46.0,NaN,NaN,SÍ,1700.0,Solter/x,SI,SÍ,NO,4411125322A
64,Juan Manuel,Sendra,Rubio,H,Valencia,Valencia,1.0,78.0,10.0,SÍ,0,NaN,NO,NO,NO,4411125322A

In [38]:
#se incluyen las respuestas redundantes en las columnas de ingresos e hijos (por edades muy reducidas en las siguientes filas)
df2.loc[24,"Estado Civil"] = "Solter/x"
df2.loc[36,"Estado Civil"] = "Solter/x"
df2.loc[55,"Estado Civil"] = "Solter/x"
df2.loc[64,"Estado Civil"] = "Solter/x"
df2.loc[55,"Vacunadx"] = "NO"

#ANÁLISIS DE ALGUNAS COLUMNAS
df["Estatura"].describe()

count     57.000000
mean     150.052632
std       36.696838
min       13.000000
25%      125.000000
50%      163.000000
75%      177.000000
max      199.000000
Name: Estatura, dtype: float64

count      62.000000
mean     1189.865745
std       891.081948
min         0.000000
25%       590.685714
50%      1222.500000
75%      1787.900000
max      5313.533333
Name: Ingresos, dtype: float64

In [40]:
df["Ingresos"].describe()

count      62.000000
mean     1189.865745
std       891.081948
min         0.000000
25%       590.685714
50%      1222.500000
75%      1787.900000
max      5313.533333
Name: Ingresos, dtype: float64

In [41]:
df["Masa"].describe()

count     56.000000
mean      58.910714
std       27.305389
min       10.000000
25%       44.250000
50%       66.000000
75%       79.000000
max      122.000000
Name: Masa, dtype: float64

In [43]:
# SE RELLENAN LAS CELDAS VACIAS DE MASA, INGRESOS Y ESTATURA SEGÚN LOS VALORES PROMEDIOS: 
df2["Masa"] = df2["Consumidorx Alcohol Esporádico"].fillna("58.91")
df2["Ingresos"] = df2["Ingresos"].fillna("1189.86")
df2["Estatura"] = df2["Estatura"].fillna("150.09")

df2.isnull().sum()

Nombre                            0
Apellido 1                        0
Apellido 2                        0
Sexo                              0
Municipio                         0
Provincia                         0
Edad                              0
Estatura                          0
Masa                              0
Hijos                             0
Ingresos                          0
Estado Civil                      0
Vacunadx                          0
CARNÉ CONDUCIR                    0
Consumidorx Alcohol Esporádico    0
REFERENCIA ESTUDIO                0
dtype: int64

In [ ]:
3 #Y YA ESTARÍA :)